body {
    margin: 0;
    width: auto; /* Add width */
    height: 500px; /* Add height */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: x-small;
  }
  .login-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 500px;
  }
  
  .centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .form-control {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .btn {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn:hover {
    background-color: #0069d9;
  }
  
.summary-form {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
  }
  
  .summary-text {
    margin-bottom: 16px;
  }
  
  .summary-textarea {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    height: 100px;
  }
  
  .summary-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .summary-btn:hover {
    background-color: #0069d9;
  }
  
  .summary-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .summary-summary {
    margin-top: 16px;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: justify;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #333;
    color: #f5f5f5;
    font-weight: bold;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .title {
    margin: 0;
    color: #333;
  }
  
  .logout-btn {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #555;
  }

  .export-button {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
}

.export-button:hover {
  background-color: #555;
}
